body{
    justify-content:center;
    background-color: white;
    color: black;
}
.container{
    display:flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(136, 136, 215);
    width:350px;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    box-shadow: 0px 2px 4px 3px rgb(255, 244, 244);
    border: 1px rgb(3, 3, 3);
    border-style:double;
}
.box{
    display: flex;
}
input{
    padding: 12px;
    border-radius:10px;
    width: 200px;
    margin: 10px;
    background-color: white;
    border: 0.5px rgb(3, 3, 3);
    border-style:double;
    color: black;
}
.btn{
    background-color: rgb(42, 133, 42);
    height: 50px;
}
.task-list{
    list-style: none;
    justify-content: left;
}
.btn-edit{
    margin: 10px;
    background-color: rgb(0, 76, 255);
    justify-content: right;
}
.btn-remove{
    background-color: red;
    justify-content: right;
}
.task-item {
    padding: 10px;
    border-bottom: 1px solid #fff7f7;
}